<div style="text-align:center;">
    <h1>Naplózás</h1>
    <table>
        <thead>
            <th>id</th>
            <th>execution time</th>
            <th>target type</th>
            <th>target id</th>
            <th>command type</th>
            <th>command</th>
        </thead>
        <tbody *ngFor="let content of table">
            <td>{{content.id}}</td>
            <td>{{content.executionTime}}</td>
            <td>{{content.targetType}}</td>
            <td>{{content.targetId}}</td>
            <td>{{content.commandType}}</td>
            <td>{{content.command}}</td>
        </tbody>
    </table>

</div>